@font-face {
  font-family: 'roman-italic';
  src: url(fonts/RomanAntique-Italic.ttf);
}
@font-face {
  font-family: 'cormorant-bold';
  src: url(fonts/CormorantGaramond-Bold.ttf);
}
@font-face {
  font-family: 'cormorant-italic';
  src: url(fonts/CormorantGaramond-Italic.ttf);
}
@font-face {
  font-family: 'puritan';
  src: url(fonts/Puritan-Regular.ttf);
}
@font-face {
  font-family: 'puritan-italic';
  src: url(fonts/Puritan-Italic.ttf);
}
@font-face {
  font-family: 'rasa';
  src: url(fonts/Rasa-Regular.ttf);
}
@font-face {
  font-family: 'rasa-italic';
  src: url(fonts/Rasa-Italic.ttf);
}

body{
  background-color: #122620;
}

body, h1, h2{
  margin:0;
  padding:0;
}

h1{
  font-family: 'cormorant-bold', 'sans-serif';
  color: #D6AD60;
  /* border:solid 1px; */
}

h2{
  font-family: 'rasa';
  color:white;
}

header{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:98vw;
  /* border:solid 1px; */
}

.nom-restaurant{
  font-size: 4vw;
  width:410px;
}

.nom-chef{
  display:flex;
  justify-content: center;
  width:410px;
  font-size: 3vw;
}

img.logo{
  height:150px;
}

nav{
  display: flex;
  justify-content: center;
  width: 98vw;
  margin-top: 30px;
  /* border:solid 1px; */
}

ul{
  display: flex;
  justify-content: space-between;
  width:50vw;
  margin:0;
  padding:0;
}

li > a{
  color:white;
  text-decoration: none;
}

li a:hover{
  color:#D6AD60;
}

li{
  color:white;
  list-style-type: none;
  /* border:solid 1px; */
  font-family: 'roman-italic';
  font-size: 1.5em;
}

.carte, .reservations, #connexion{
  text-align: center;
}

.header-mobile{
  display: none;
}

.nav-mobile{
  display: none;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > p{
  color:white;
  list-style-type: none;
  /* border:solid 1px; */
  font-family: 'cormorant-italic';
  font-size: 2vw;
}

main > p > a{
  color: white;
}

h1.titre-reserve{
  text-align: center;
  width:300px;
  margin-top: 70px;
  font-family: 'cormorant-italic';
  font-size: 2.5em;
  color:white;
}

p.sous-titre-reserve{
  font-family: 'rasa';
  font-size: 1.2em;
  text-align: center;
  
}


.general{
  border:solid 1px #D6AD60;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  border-radius:5px;
  box-shadow: 0px 0px 20px  rgba(214, 173, 96, 0.5);
  width: 60vw;
}

#cachee > p{
  color:#D6AD60;
  font-family: 'rasa';
  font-size: 1.2em;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

#cachee{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  display: flex;
  justify-content:space-between;
  width:90%;
  margin-bottom: 70px;
}

.couvert-date{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
}

.couverts, .date{
  background-color: #D6AD60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:25vw;
  height:2.9em;
}

.couverts > img, .date > img{
  height:2.3em;
}

select, input.date, input{
  background-color: #D6AD60;
  color:#122620;
  padding-left: 20px;
  font-family: 'puritan-italic';
  font-size: 1.5vw;
  border:none;
}

select{
  width:21.5vw;
  height:2em;
}

input.date{
  width:20vw;
  height:2em;
}

input{
  width:20vw;
  height:2em;
}

h2.titre-midi, h2.titre-soir, h2.titre-donnees{
  text-align: center;
  color:#D6AD60;
  font-family:'puritan-italic';
  font-size:2vw;
  margin-bottom: 30px;
}

.heures-midi, .heures-soir{
  display: flex;
  flex-direction: column;
  width:90%;
  margin-bottom: 40px;
}

.premiere-ligne{
  display: flex;
  margin-bottom: 20px;
  width:100%;
}

.deuxieme-ligne-midi{
  display: flex;
  width:100%;
}


.deuxieme-ligne-soir{
  display: flex;
  width:100%;
  margin-bottom: 20px;
}

.troisieme-ligne-soir{
  width:100%;
}

button.heures{
  display:flex;
  justify-content: center;
  align-items: center;
  width:8vw;
  height:auto;
  background-color: #B68D40;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 20px  rgba(214, 173, 96, 0.5);
  margin-right: 2vw;
}

button.heures > p{
  color:#122620;
  font-family: 'rasa';
  font-size: 2em;
}

button.heures:hover{
  background-color: #D6AD60;
}

button.heures:focus{
  background-color: #D6AD60;
}

form.donnees{
  display: flex;
  flex-direction: column;
}

form.donnees > select{
  width:21.5vw;
}

.prenom-nom, .tel-email{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tel-email{
  margin-bottom: 20px;
}

.prenom, .nom, .tel, .email{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label{
  color:#D6AD60;
}

textarea{
  background-color: #D6AD60;
  max-width: 100%;
  min-height: 100px;
  max-height: 500px;
}

.checkbox{
  height:40px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width:300px;
}

input[type="checkbox"]{
  accent-color:white;
  width:50px;
  margin-right: 10px;
}

.text-checkbox{
  color:#D6AD60;
  font-family: 'rasa';
  font-size: 1.3em;
}

p.champs{
  text-align: center;
  color:#D6AD60;
}

.centre-button{
  display:flex;
  justify-content: center;
}

button#valider{
  background-color: #D6AD60;
  border:solid 4px #B68D40;
  border-radius: 5px;
  width: 120px;
  height: 50px;
}

button#valider:hover{
  background-color: #B68D40; 
  border:solid 4px #D6AD60;
}

.separation{
  width:98vw;
  margin-top: 30px;
  border:solid 2px #D6AD60;
}

h3#validation{
  color:#D6AD60;
  font-family: 'rasa';
  font-size:1.5em;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}


footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid 2px red; */
  width:98vw;
  margin-top: 30px;
}

.logos-footer{
  display: flex;
  width:50vw;
  justify-content: space-around;
  align-items: center;
  /* border:solid 1px white; */
}

img.logo-facebook, .logo-instagram{
  height: 70px;
  border: solid 1px #D6AD60;
  border-radius: 15px;
}

@media screen and (max-width: 600px){
  header{
    display:none;
  }
  nav{
    display:none;
  }
  .header-mobile{
    display:flex;
    justify-content: space-between;
  }
  #btn-menu{
    background-image: url("images/couvertburger.jpg");
    background-position: center;
    background-size: 100%;
    border:none;
    width:80px;
    height:80px;
    margin-right:10vw;
  }
  #nav-mobile{
    display:none;
    align-items: center;
    background-image: url('images/fond-menu.jpg');
    position:absolute;
    margin-left:50vw;
    width:50%;
    height:calc(98vh - 170px);
  }
  ul{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:98%;
    height:98%;
  }
  li{
    
    font-size:2em;
    width:100%;
    text-align: center;
  }

  li > a{
    color:#122620;
  }

  .general{
    width:80vw;
  }

  form{
    flex-direction: column;
    width:90%;
  }

  button.heures, .heures-dernier{
    width:3em;
    height:3em;
    border-radius: 5px;
  }

  button.heures > p{
    font-size: 1.5em;
  }

  .heures-dernier{
    margin-left: 0;
  }

  .couverts, .date{
    width:100%;
    height:2.9em;
    margin-bottom: 0.5em;
  }
  
  .couverts > img, .date > img{
    height:2.3em;
  }

  input[type="text"],  input[type="tel"],  input[type="email"]
  {
      font-size:20px;
  }

  select{
    width:80%;
    height:1.5em;
    font-size: 1.5em;
  }
  
  input.date{
    width:74%;
    height:1.5em;
    font-size: 1.5em;
    margin-top: 0.5em;
  }

  input.date > p{
    font-size: 5em;
  }
  
  textarea{
    font-size: 1.5em;
  }
  
  input{
    width:90%;
    height:2em;
  }

  .prenom-nom, .tel-email{
    flex-direction: column;
    width:100%;
  } 

  form.donnees > select{
    width:70vw;
    height:2em;
  }

  h2.titre-midi, h2.titre-soir, h2.titre-donnees{
    font-size:5vw;
  }

  .text-checkbox{
    color:#D6AD60;
    font-family: 'rasa';
    font-size: 3vw;
  }

  input[type=checkbox]{
    width: 50px;
  }

  .checkbox{
    width:300px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

}  